

.header {
display: flex;
justify-content: center;
align-items: center;
margin: 0;
height: 450px;
background-color: #b9b9b9;
}
.navbar  {
display: flex;
justify-content: center;
align-items: center;
height: 50px;
background-color: #ffdc69;
}
.navbar a {
  color: #f8f8f8;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 20px;
  font-size: 20px; 
}

.content {
  padding: 80px 0;
}
.content p{
  margin-bottom: 40px;
  color: #484848;
}
.title {
text-transform: uppercase;
margin-bottom: 40px;
 font-size: 40px;
 color: #484848;
}

.about{
  background: #b4ebbe;
  
}
.benefits {
  background: #49aa04be;
}
.list__benefits {
display: flex;
justify-content: center;
align-items: center;
list-style-type: none;
font-size: 20px;
color: #484848;
}


.about p {
  max-width: 1055px;
  margin: 0 auto;
}


.payment {
background: #ffdc69;
color: #484848; 
text-align: left;
}
.payment p {
  max-width: 500px;
}
.contain {
max-width: 1055px;
margin: 0 auto;
}

.btn {
display: inline-block;
padding: 16px 30px;
border: 2px solid #f8f8f8;
color: #484848;
text-decoration: none;
}

footer {
  font-size: 20px;
  color: #484848;
}